
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Product</title>
    <link rel="stylesheet" href="/bootstarp/css/bootstrap.min.css">
    <link rel="stylesheet" href="">
  </head>
  <body>

    <div class="user-infor-container">

        <form method="POST" action="/product.create-product">

                <h2>Add Product</h2>
                <form id="productForm" enctype="multipart/form-data">
                  <div class="mb-3">
                   
                    <label for="productName" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="productName" name="productName" required>
                  </div>
                  <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" name="price" required>
                  </div>
                  <div class="mb-3">
                    <label for="productImage" class="form-label">Product Image</label>
                    <input type="file" class="form-control" id="productImage" name="productImage" accept="image/*" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Add Product</button>
                </form>

        </form>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="../bootstarp/js/bootstrap.min.js"></script>  </body>
</html>